streamlit
requests
pathlib

pyaudio        # Record audio from microphone.
pydub          # Audio manipulation (convert/export to MP3, WAV, etc.).
ffmpeg         # Required backend for pydub((needed for exporting in formats like MP3).
SpeechRecognition   # Convert speech → text
groq
python-dotenv