langgraph
langchain-openai
langchain-groq
langchain-community
langchain_google_genai
faiss-cpu

ipykernel
python-dotenv
pypdf
cryptography
pillow
langgraph-checkpoint-sqlite

aiosqlite

streamlit
fastapi
uvicorn[standard]
python-multipart   #FastAPI requires python-multipart to handle file uploads (UploadFile, form-data requests, etc.),

langchain-cohere
rank_bm25




#voice input
pyaudio        # Record audio from microphone.
pydub          # Audio manipulation (convert/export to MP3, WAV, etc.).
ffmpeg         # Required backend for pydub((needed for exporting in formats like MP3).
SpeechRecognition   # Convert speech → text
groq



-e .