langgraph
langchain-openai
langchain-groq
langchain-community
langchain_google_genai
faiss-cpu

python-dotenv
pypdf
cryptography
pillow
langgraph-checkpoint-sqlite

aiosqlite
uvicorn[standard]
python-multipart

fastapi
