langgraph
langchain-openai
langchain-groq
langchain-community
langchain_google_genai
faiss-cpu

python-dotenv
pypdf
cryptography
pillow
langgraph-checkpoint-sqlite

aiosqlite
uvicorn[standard]
python-multipart

fastapi

langchain-cohere
rank_bm25


pyaudio        # Record audio from microphone.
pydub          # Audio manipulation (convert/export to MP3, WAV, etc.).  remove
ffmpeg         # Required backend for pydub((needed for exporting in formats like MP3).   
SpeechRecognition   # Convert speech → text  remove
groq